<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="RecipesDataBase" connectionString= "Data Source=(localdb)\ProjectModels;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>-->
	<appSettings>
		<add key="provider" value="System.data.command"/>
		<add key="connectionString" value="Data Source=(localdb)\ProjectModels;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</appSettings>
</configuration>