@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string[] ClassObj = new string[]{"Recipe-Image", "Recipe-Image1", "Recipe-Image2" };
    List<string> thumbnails = Model.GetRecipeThumbs();
    
    
}

<div class = "body-Filler">
  <form>
  <label> Look Up Food</label><br>
  <></>
</form>
</div>
